.menu > ul {
  display: flex;
  flex-direction: row;
}

.menu > ul > li {
  margin-right: 20px;
  list-style: none;
}

.menu > ul > li > a > img {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.menu > ul > li > a > span {
  margin-left: 10px;
}
