<app-title></app-title>

<div class="articles">
  <div class="articles_main">
    <app-details
      id="{{ languageDetail?.id }}"
      photo="{{ languageDetail?.photo }}"
      title="{{ languageDetail?.title }}"
      description="{{ languageDetail?.description }}"
    ></app-details>
  </div>
  <div class="articles_others">
    <div *ngFor="let item of languages">
      <app-card
        id="{{ item.id }}"
        photo="{{ item.photo }}"
        title="{{ item.title }}"
      ></app-card>
    </div>
  </div>
</div>
