<div class="container">
  <div class="photo">
    <img
      src="https://user-images.githubusercontent.com/20684618/31289519-9ebdbe1a-aae6-11e7-8f82-bf794fdd9d1a.png"
      alt=""
      srcset=""
    />
  </div>
  <div class="title">
    <h1>
      <a href="#">Lorem Ipsum</a>
    </h1>
  </div>
  <div class="description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu metus in
      lacus consectetur hendrerit. Cras non arcu id est dignissim condimentum.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. In non posuere nisi. Ut sollicitudin libero quis felis
      fermentum tincidunt. Vivamus metus magna, lacinia vel libero eget,
      tincidunt dapibus arcu. Phasellus justo lorem, tincidunt ac sem vitae,
      efficitur laoreet erat.
    </p>
  </div>
</div>
